<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>首页</title>
    <script type="text/javascript" th:src="@{/js/userinfo/userinfo.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <input type="hidden" id="roleid" th:value="${roleid}"/>
    <script type="text/javascript">
        window.onload = init();
    </script>
    <table class="bordered">
        <thead>
        <tr>
            <th></th>
            <th>工号</th>
            <th>姓名</th>
            <th>职务</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="userList"></tbody>
    </table>
    <div style="position:fixed;left:0;bottom:0">
        <ul class="pagination" id="pagingDiv">
            <li id="lastPageBtn" class="disabled"><a onclick="lastPage()"><i class="material-icons">chevron_left</i></a></li>
            <li class="waves-effect active" id="li_1"><a onclick="getPageList(1)">1</a></li>
        </ul>
    </div>
</div>
</body>
</html>