<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>预约实验室</title>
</head>
<body>
    <div layout:fragment="content">
        <p>这是一个测试页面</p>
        <table id="laboratory" class="">
            <tr>
                <td>111</td>
                <td>111</td>
            </tr>
            <tr>
                <td>111</td>
                <td>111</td>
            </tr>
        </table>
    </div>
</body>
</html>