<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title></title>
    <script type="text/javascript" th:src="@{/js/myinfo/myinfo.js}"></script>
</head>
<body onload="getUserInfo()">
<div layout:fragment="content">
    <script type="text/javascript">
        window.onload=getUserInfo();
    </script>
    <p>这是一个测试页面</p>
    <!--<button onclick="getUserInfo()">asdaseqwe</button>-->
    <table id="userInfo" class="">

    </table>
</div>
</body>
</html>