<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 进行mybatis的相应的环境的属性定义 -->
    <settings>
        <!-- 在本项目中开启二级缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 通过配置这个属性为true可以自动将下画线方式命名的数据库列映射到java对象驼峰式命名属性中 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <environments default="mysql">
        <!-- 环境配置，即连接的数据库。 -->
        <environment id="mysql">
            <!-- 指定事务管理类型，type="JDBC"指直接简单使用了JDBC的提交和回滚设置 -->
            <transactionManager type="JDBC" />
            <!-- dataSource指数据源配置，POOLED是JDBC连接对象的数据源连接池的实现。 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/bysj?useUnicode=true" />
                <property name="username" value="root" />
                <property name="password" value="000000" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- <mapper resource="org/mapper/ten/proxy/UserMapper.xml"/> -->
        <mapper class="com.example.bysj_1.dao.DemoUserMap"/>
        <mapper class="com.example.bysj_1.dao.UserMapper"/>
    </mappers>
</configuration>