<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>首页</title>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body onload="init()">
<div layout:fragment="content">
    <input type="hidden" id="roleid" th:value="${roleid}"/>
    <nav class="nav-extended" style="background-color:blue">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">欢迎使用</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><span th:text="'你好，'+${name}"></span></li>
                <li><span>                  </span></li>
                <li><a  href="javascript:void(0)" onclick="exitLogin()">退出登录</a>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="javascript:void(0)" onclick="showDiv('myInfo')">我的信息</a></li>
                <li class="tab"><a href="javascript:void(0)" onclick="showDiv('userInfo')">用户信息</a></li>
                <li class="tab"><a href="javascript:void(0)" onclick="showDiv('labInfo')">查看实验室</a></li>
                <li class="tab"><a href="javascript:void(0)" onclick="showDiv('classInfo')">查看课程</a></li>
                <li class="tab"><a href="javascript:void(0)" onclick="showDiv('appointLab')">预约实验室</a></li>
            </ul>
        </div>
    </nav>
    <div id="myInfo" class="col s12" style="display:none"></div>
    <div id="userInfo" class="col s12" style="display:none"></div>
    <div id="labInfo" class="col s12" style="display:none"></div>
    <div id="classInfo" class="col s12" style="display:none"></div>
    <div id="appointLab" class="col s12" style="display:none"></div>
</div>
</body>
</html>