<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>请登录</title>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/md5.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <!--<div align="center">-->
    <!--<img class="img-responsive" th:src="@{/pic/saber.jpg}"/>-->
    <!--</div>-->
    <p></p>
    <nav class="nav-extended" style="background-color:blue">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">欢迎使用</a>
        </div>
    </nav>
    <!--<form class="col s12" th:action="@{/checkuser}" th:object="${user}" method="POST">-->
        <div class="row center">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate">
                <label for="name">用户名（工号）：</label>
            </div>
        </div>
        <div class="row center">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">lock_outline</i>
                <input id="password" type="password">
                <label for="password">密码：</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s4">
                <a href="/singup" name="singup">没有账户？请注册</a>
            </div>
            <div class="col s12 offset-s6">
                <button class="btn waves-effect waves-light" onclick="checkUser()" name="login">登录
                    <i class="mdi-content-send right"></i></button>
            </div>
        </div>
    <!--</form>-->
</div>
</body>