<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>请登录</title>
    <link href="/webjars/materializecss/1.0.0/css/meterialize.css" type="text/css"
          rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div align="center">
        <img class="img-responsive" th:src="@{/pic/saber.jpg}"/>
    </div>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <div align="center">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input id="name" th:field="*{loginname}" type="text"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input id="password" th:field="*{password}" type="password" ></td>
                </tr>
                <tr>
                    <td><input type="button" onclick="signup" value="注册"></td>
                    <td><input type="submit"/></td>
                </tr>
            </table>
        </div>
    </form>
</body>