<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>用户注册</title>
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--<link th:href="@{/webjars/materializecss/css/materialize.css}"-->
          <!--type="text/css"-->
          <!--rel="stylesheet" media="screen,projection"/>-->
    <!--<script type="text/javascript" th:src="@{/webjars/jquery/2.2.4/dist/jquery.js}"></script>-->
    <!--<script src="webjars/jquery/1.11.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" th:src="@{/webjars/materializecss/js/materialize.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
<header>
    <nav class="top-nav">
        <div align="center">
            欢迎使用***web实验室管理系统
        </div>
    </nav>
    <ul class="side-nav fixed" style="width:300px; transform: translateX(0%);">
        <li>咖啡</li>
        <li>茶</li>
        <li>牛奶</li>
        <li>咖啡</li>
        <li>茶</li>
        <li>牛奶</li>
        <li>咖啡</li>
        <li>茶</li>
        <li>牛奶</li>
    </ul>
</header>
<div layout:fragment="content">>
    <div class="col s12 m9 110">
        <form th:action="@{/inseruser}" th:object="${user}" method="post">
            <div class="section scrollspy">
                <table width="400">
                    <tr align="center">
                        <td width="30%">
                            <div class="input-field col s6 offset-s3">
                                <input type="radio" th:field="${user.roleid}" name="role" value="superadmin">实验室管理员

                                <input type="radio" th:field="${user.roleid}" name="role" value="teacher">教师
                            </div>
                        </td>
                        <td width="30%">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="name" th:field="${user.loginname}" type="text" class="validate">
                                <label for="name">请输入用户名：</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password" th:field="*{password}" type="password">
                                <label for="password">请输入密码：</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password_again" type="password">
                                <!--<label for="password_again">请再次输入密码：</label>-->
                                <label for="password_again" data-error="wrong" data-success="right">请再次输入密码：</label>
                                <!--<label id="isSame"></label>-->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
</body>
</html>