<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>用户注册</title>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
<header>
</header>
<div layout:fragment="content">
    <div class="container">
        <div class="container">
            <nav class="nav-extended" style="background-color:blue">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">请注册</a>
                </div>
            </nav>
            <div class="row center">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate">
                    <label for="name">请输入用户名：</label>
                </div>
                <div class="input-field col s6">
                    <select class="browser-default" id="roleid">
                        <option value="1">教师</option>
                        <option value="2">实验室管理员</option>
                    </select>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" type="password">
                    <label for="password">请输入密码：</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password_again" type="password">
                    <label for="password_again" data-error="wrong" data-success="right">请再次输入密码：</label>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone" type="number">
                    <label for="password">手机号</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" class="validate">
                    <label for="email" data-error="wrong">邮箱</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 push-s3">
                    <a class="btn waves-effect waves-light" href="/login">取消</a>
                </div>
                <div class="input-field col s6 push-s1">
                    <button class="btn waves-effect waves-light" onclick="usersignup()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>