<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title></title>
    <script type="text/javascript" th:src="@{/js/mytools/mytools.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <!--<input type="hidden" id="roleid" th:value="${roleid}">-->
    <script type="text/javascript">`
        window.onload=getRoleId();

    </script>
    <!--<button onclick="getUserInfo()">asdaseqwe</button>-->
    <table id="tools" class="">

    </table>
</div>
</body>
</html>